@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.WellHeadAndSeparationSystems
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyWellStreamCooler" TDialog="WellStreamCoolerDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyWellStreamCooler" Property="WellStreamCoolerName" Filterable="false" Title="Name" Frozen="true" Pickable="false">           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyWellStreamCooler" Property="WellStreamCoolerTemparature" Title="Temperature"/>
                <RadzenDataGridColumn TItem="DailyWellStreamCooler" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>