@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.GlycolRegenerationSystems
@using JXNippon.CentralizedDatabaseSystem.Models
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<DailyDialog TItem=DailyGlycolStock Item="@Item" CustomColumns=@CustomColumns MenuAction=@MenuAction IsViewing=@isViewing>
    <ChildContent>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Glycol Stock In Tote Tank" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="GlycolStockInToteTank" class="w-100" @bind-Value="@Item.GlycolStockInToteTank" Disabled=@isViewing
                    Placeholder="Enter glycol stock in tote tank ..." TextProperty="GlycolStockInToteTank"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Glycol Stock In Drum" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="GlycolStockInDrum" class="w-100" @bind-Value="@Item.GlycolStockInDrum" Disabled=@isViewing
                    Placeholder="Enter glycol stock in drum ..." TextProperty="GlycolStockInDrum"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.DateUI" ShowTime="false" Disabled=@(Item.Id > 0 || isViewing)></RadzenDatePicker>
                </div>
            </div>
    </ChildContent>
</DailyDialog>