@typeparam TItem

<td class="ant-descriptions-item-label col-sm-12 col-md-2">
    <a>@(stringLocalizer[Title])</a>
</td>
<DecimalDescriptionItemEdit TItem="TItem" Item="@this.Item" ItemId="@this.ItemId" OnDecimalChanged="@this.ValueChanged" @bind-Decimal=@this.Value IsRequired=@this.IsRequired></DecimalDescriptionItemEdit>