<div class="ant-descriptions ant-descriptions-bordered ant-descriptions-small">
	<div class="ant-descriptions-view">
		<table>
			<tbody>
				<tr class="ant-descriptions-row row">
					@ChildContent
			    </tr>
			</tbody>
		</table>
	</div>
</div>