@if (this.Visible)
{
    <div class="col-sm-12 col-md-6 py-2 px-2 h-100">
        <Card Hoverable Style="background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);">
            <div class="d-flex align-items-center justify-content-center gap-3 h-100">
                <GenericDescription Height="200px" ImageFile="@ImageFile" Description="@Description">
                    <ChildContent>
                        <Button Type="primary" OnClick="@OnButtonClick">@ButtonText</Button>
                    </ChildContent>
                </GenericDescription>
            </div>
        </Card>
    </div> 
}
