@typeparam TItem

<DescriptionsItem Span=@(Span ?? 1)>
    <TitleTemplate>
        <a>@(stringLocalizer[Title])</a>
    </TitleTemplate>
    <ChildContent>
        <IntegerDescriptionItemEdit TItem="TItem" Item="@this.Item" ItemId="@this.ItemId" OnIntegerChanged="@this.ValueChanged" @bind-Integer=@this.Value></IntegerDescriptionItemEdit>
    </ChildContent>
</DescriptionsItem>
