@typeparam TItem

<td class="ant-descriptions-item-label col-sm-12 col-md-2">
    <a>@(stringLocalizer[Title])</a>
</td>
<StringDescriptionItemEdit IsEditable=@this.IsEditable TItem="TItem" Item="@this.Item" ItemId="@this.ItemId" OnStringValChanged="@this.ValueChanged" @bind-StringVal=@this.Value IsRequired=@this.IsRequired></StringDescriptionItemEdit>