@typeparam TItem
@if (isEditing)
{
     <td class="ant-descriptions-item-content col-sm-12 col-md-2" colspan="1">
        <div class="d-flex justify-content-center">
            <RadzenTextArea @bind-Value=@this.StringVal Change="StopEdit" MouseLeave="MouseLeave"></RadzenTextArea>
        </div>
     </td>
}
else
{
    <td class="ant-descriptions-item-content col-sm-12 col-md-2" style="cursor:pointer; @this.GetStyle()" colspan="1" @onclick="StartEdit">
        <div class="d-flex justify-content-center" >
            @if (this.StringVal != null)
            {
                @this.StringVal
            } 
        </div>
    </td>  
}