@import './styles-generated.css';
.status-online {
    color: #85C88A;
}

.status-standby {
    color: #F0A500;
}


.status-default {
    color: lightgrey;
}

.card-time {
    color: #6FB2D2;
}

.toprow-title {
    color: #1A3C40;
}
.space {
    margin: 0;
    padding: 0;
    height: 50px;
}
.dataFileCard {
    width: 300px;
}

.title {
    color: #0AA1DD;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 5px;
    pointer-events: none;
}

@media (min-width: 2560px) {
    .dataFileCard {
        width: 600px;
    }
}
