@import './styles-generated.css';
.status-online {
    color: #85C88A;
}

.status-standby {
    color: #F0A500;
}

.status-default {
    color: grey;
}

.status-offline {
    color: lightgrey;
}

.card-time {
    color: #6FB2D2;
}

.toprow-title {
    color: #1A3C40;
}
.space {
    margin: 0;
    padding: 0;
    height: 50px;
}
.dataFileCard {
    width: 300px;
}

.title {
    color: #0AA1DD;
}

.search-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    pointer-events: none;
}

@media (min-width: 2560px) {
    .dataFileCard {
        width: 600px;
    }
}

@media (min-width: 1450px) {
    .sideBarItemLabelShow {
        display: block;
    }

    .sideBarItemLabelHide {
        display: none;
    }
}
.dialogTextSize {
    font-size: 1rem !important;
}

.rz-group-header {
    background-color: #ffffff!important;
}

.rz-datatable-data td:not(:last-child), .rz-datatable-data td.rz-composite-cell, .rz-grid-table td:not(:last-child), .rz-grid-table td.rz-composite-cell {
    border-right: none;
}

.rz-datatable-odd > td {
    background-color: #ffffff;
}
.rz-inputtext, .rz-textarea {
    font-size: 1rem !important;
}
.rz-datatable-thead th, .rz-grid-table thead th {
    border-bottom: solid 1px #dfe7eb !important;
    font-weight: bold !important;
}

.rz-grid-table thead th .rz-column-title {
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: 1rem !important;
}

.rz-grid-table thead th .rz-column-title {
    text-transform: capitalize !important;
    font-size: 1rem !important;
}

.rz-grid-table td .rz-cell-data {
    font-size: 1rem !important;
}

.rz-dialog-titlebar {
    color: black;
    font-weight: bold;
    background-color: #FFFFFF !important;
    border-bottom-color: lightgray !important;
    border-bottom-style: solid !important;
}
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('../fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

body {
    font-family: Inter, sans-serif, Tahoma, Arial, Helvetica !important;
    background-color: white !important;
}

.top-navbar {
    background-color: #ffffff !important;
    border-bottom-style: solid !important;
    border-bottom-color: lightgray !important;
}
