@import './styles-generated.css';
@import url('https://fonts.googleapis.com/css?family=Poppins');

.status-online {
    color: #85C88A;
}

.status-standby {
    color: #F0A500;
}

.status-default {
    color: grey;
}

.status-offline {
    color: lightgrey;
}

.card-time {
    color: #6FB2D2;
}

.toprow-title {
    color: #1A3C40;
    font-weight: bold !important;
}
.space {
    margin: 0;
    padding: 0;
    height: 50px;
}
.dataFileCard {
    width: 300px;
}

.title {
    color: #0AA1DD;
}

.search-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    pointer-events: none;
}

@media (min-width: 2560px) {
    .dataFileCard {
        width: 600px;
    }
}

@media (min-width: 1450px) {
    .sideBarItemLabelShow {
        display: block;
    }

    .sideBarItemLabelHide {
        display: none;
    }
}
.dialogTextSize {
    font-size: 1rem !important;
}

.rz-group-header {
    background-color: #ffffff!important;
}

.rz-datatable-data td:not(:last-child), .rz-datatable-data td.rz-composite-cell, .rz-grid-table td:not(:last-child), .rz-grid-table td.rz-composite-cell {
    border-right: none;
}

.rz-datatable-odd > td {
    background-color: #ffffff;
}
.rz-inputtext, .rz-textarea {
    font-size: 1rem !important;
}
.rz-datatable-thead th, .rz-grid-table thead th {
    border-bottom: solid 1px #dfe7eb !important;
    font-weight: bold !important;
}

.rz-grid-table thead th .rz-column-title {
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: 1rem !important;
}

.rz-grid-table thead th .rz-column-title {
    text-transform: capitalize !important;
    font-size: 1rem !important;
}

.rz-grid-table td .rz-cell-data {
    font-size: 1rem !important;
}

.rz-dialog-titlebar {
    color: black;
    font-weight: bold;
    background-color: #FFFFFF !important;
    border-bottom-color: lightgray !important;
    border-bottom-style: solid !important;
}

body {
    font-family: Poppins,Arial,Helvetica,sans-serif !important;
    background-color: white !important;
}

.top-navbar {
    background-color: #ffffff !important;
    border-bottom-style: solid !important;
    border-bottom-color: lightgray !important;
}

.view-header {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: bold !important;
    letter-spacing: -.02em !important;
    color: #0b1835 !important;
    border-bottom: 1px solid #dbe0ea !important;
    min-height: 32px !important;
    margin-bottom: 16px !important;
}

.rz-card {
    padding: 0.875rem 1.0625rem !important;
    border-radius: 10px !important;
    background-color: #ffffff !important;
    border: 1px solid #dbe0ea !important;
    box-shadow: 2px 1px 15px -6px rgb(0 6 100 / 30%) !important;
}

.rz-datatable {
    border: 1px solid #dbe0ea !important;
    box-shadow: 2px 1px 15px -6px rgb(0 6 100 / 30%) !important;
}

.rz-dialog-wrapper .rz-dialog {
    border-radius: 10px !important;
    background-color: #ffffff !important;
    border: 1px solid #dbe0ea !important;
    box-shadow: 2px 1px 15px -6px rgb(0 6 100 / 30%) !important;
}

.rz-label, .rz-dialog-title {
    font-weight: bold;
}

.date-range-picker {
    border: 1px solid #dadfe2 !important;
    border-radius: 4px !important;
    box-shadow: inset 0 4px 3px 0 rgb(0 0 0 / 3%) !important;
    background-color: #ffffff !important;
    padding: 0.625rem 0.625rem;
}
