<div class="p-2">
    <div class="ant-descriptions ant-descriptions-bordered ant-descriptions-small">
        <div class="ant-descriptions-view" style="width: 50%">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th style="width:15%;" class="text-center">@Year @Title</th>
                        <th style="width:15%;background-color: #FFFFFF !important" class="text-center">@ChildContent</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>