<td class="text-right" style="cursor:pointer; min-height: 30px; padding-right: 5px; colspan="1">
    <div>
        @if (this.Value != null)
        {
            @Math.Round((decimal)this.Value, 2)
            ;
        }
    </div>
</td>
     