<Layout Class="layout-view" Style="height: 80vh;">
    <Header>
        <div class="row">
            <div class="col-12 float-right align-items-center text-right mt-1">
                <Space Size="@("middle")">
                    <SpaceItem>
                        <Search Size="@("large")" Placeholder="Search user..." Style="20vw;" OnChange=@(args => ReloadAsync(null)) @bind-Value=search ClassicSearchIcon/>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Type="primary" Size="@("large")" Shape="@ButtonShape.Round" OnClick=@(args => ReloadAsync(null))>
                            <ChildContent>
                                <Icon Type="reload" Theme="outline" Class="anticon-big"/><span style="font-size: 18px; margin-left: 10px;">Reload</span>
                            </ChildContent>
                        </Button>
                    </SpaceItem>
                </Space>
            </div>
        </div>       
    </Header>
    <Layout Style="height: 100%;">
        <Content Style="overflow-y: auto; overflow-x:hidden; height:100%;">
            <UserDataList @ref=userDataList></UserDataList>
        </Content>
    </Layout>
</Layout>
