@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<Layout Class="layout-view">
    <Header Style="height: 68px;">
        <div class="row">
            <div class="col-3">
                <span>User Management</span>
            </div>
            <div class="col-9 float-right align-items-center text-right mt-1">
                <Space Size="@("middle")">
                    <SpaceItem>
                        <Search Size="@("large")" Placeholder="Search user..." Style="20vw;" OnInput=@(args => ReloadAsync(searchInput : args.Value as string)) @bind-Value=search ClassicSearchIcon />
                    </SpaceItem>
                    <SpaceItem>
                        <AuthorizeView Policy="Administration.Read" Context="read">
                            <RadzenSplitButton Click=@OnClickAsync Text="Reload" Icon="autorenew">
                                <ChildContent>
                                    <AuthorizeView Policy="Administration.ReadWrite">
                                        <RadzenSplitButtonItem Text="New User ..." Value="New" Icon="assignment_ind" />
                                        <RadzenSplitButtonItem Text="Import Users ..." Value="Import" Icon="open_in_browser">
                                        </RadzenSplitButtonItem>
                                    </AuthorizeView>
                                </ChildContent>
                            </RadzenSplitButton>
                        </AuthorizeView>
                    </SpaceItem>
                </Space>
            </div>
        </div>       
    </Header>
    <Layout Style="height: 100%;">
        <Sider Class="d-none d-lg-inline" Collapsible>
            <Menu DefaultSelectedKeys=@(new[] { "All" }) Style="height: 100%;" Mode=@MenuMode.Inline @ref=menu OnMenuItemClicked=OnMenuItemSelectAsync>
                <MenuItem Key="All">         
                    <ChildContent>
                        <span style="font-size: 16px; margin-left: 0px;">All</span>
                    </ChildContent>
                </MenuItem>
                <CollectionView Items=@this.roles TItem=Role ShowEmpty=false>
                    <ChildContent Context="role">
                        <MenuItem Key="@role.Name">
                            <ChildContent>
                                <span style="font-size: 16px; margin-left: 0px;">@role.Name</span>
                            </ChildContent>                
                        </MenuItem>
                    </ChildContent>               
                </CollectionView>
            </Menu>
        </Sider>
        <Content Style="overflow-y: auto; overflow-x:hidden; height:100%;">
            <UserDataList @ref=userDataList></UserDataList>
        </Content>
    </Layout>
</Layout>