@page "/CombinedDailyReport"
@using DataExtractorODataService.Affra.Service.DataExtractor.Domain.DataFiles
@using JXNippon.CentralizedDatabaseSystem.Shared.OIMSummary
@using JXNippon.CentralizedDatabaseSystem.Shared.Logistic
@using JXNippon.CentralizedDatabaseSystem.Shared.Dashboard
@using JXNippon.CentralizedDatabaseSystem.Shared.MajorEquipment
@using JXNippon.CentralizedDatabaseSystem.Shared.CommunicationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.DailyProduction
@using JXNippon.CentralizedDatabaseSystem.Shared.RollsRoyceGasEngineAndKawasakiCompressionSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHeadAndSeparationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHead
@using JXNippon.CentralizedDatabaseSystem.Shared.PowerGenerationAndDistributionManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.ProducedWaterTreatmentSystemManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.FileManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.LWPActivity
@using JXNippon.CentralizedDatabaseSystem.Shared.HealthSafetyAndEnvironment
@using JXNippon.CentralizedDatabaseSystem.Shared.ChemicalInjection
@using JXNippon.CentralizedDatabaseSystem.Shared.GlycolRegenerationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.GasAndCondensateExportSamplersAndExportLine
@using JXNippon.CentralizedDatabaseSystem.Shared.CoolingMediumSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.LivingQuartersUtilitiesAndOthers
@using JXNippon.CentralizedDatabaseSystem.Shared.SandDisposalDesander
@using JXNippon.CentralizedDatabaseSystem.Shared.VendorActivities
@using JXNippon.CentralizedDatabaseSystem.Shared.MaximoWorkOrder

<PageTitle>Combined Daily Report</PageTitle>
<div class="px-1">
    <DashboardFilterPanel @ref="filterPanel" Change=@(args => OnChangeAsync(args))/>
</div>
<div class="row py-1 px-1">
    <div class="col">      
        <RadzenButton Click="@ReloadAsync" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Light" Style="margin-bottom: 20px;" />
        <RadzenButton Text="Export Combined Daily Report" Icon="grid_on" ButtonStyle="ButtonStyle.Primary" Style="margin-left: 10px;margin-bottom: 20px;"/>
    </div>
</div>

<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
           <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[0] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            1. OIM Summary
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=20 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[0])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
	                        <TabPane Tab="HIP / LWP Summary" Key="1">
                                <HIPAndLWPSummaryDataGrid @ref="hipAndLWPSummaryDataGrid" LoadData=@(args => LoadHIPAndLWPSummaryDataGridAsync(args))/>
                            </TabPane>
                            <TabPane Tab="FPSO Helang Summary" Key="2">
                                <FPSOHelangSummaryDataGrid @ref="fpsoHelangSummaryDataGrid" LoadData=@(args => LoadFPSOHelangSummaryDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[1] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                        2. Health, Safety & Environment
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=25 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[1])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
	                        <TabPane Tab="Health, Safety & Environment" Key="1">
                                <HealthSafetyAndEnvironmentDataGrid @ref="healthSafetyAndEnvironmentDataGrid" LoadData=@(args => LoadHealthSafetyAndEnvironmentDataGridAsync(args))/>
                            </TabPane>
                            <TabPane Tab="Loss Of Primary Containment (LOPC) Incident" Key="2">
                                <LossOfPrimaryContainmentIncidentDataGrid @ref="lossOfPrimaryContainmentIncidentDataGrid" LoadData=@(args => LoadLossOfPrimaryContainmentIncidentDataGridAsync(args))/>
                            </TabPane>
                            <TabPane Tab="LifeBoats" Key="3">
                                <LifeBoatsDataGrid @ref="lifeBoatsDataGrid" LoadData=@(args => LoadLifeBoatsDataGridAsync(args))/>
                            </TabPane>
                            <TabPane Tab="Management Of Change (MOC) : Long Term Overrides & Inhibits On Alarm And/Or Trip" Key="4">
                                <LongTermOverridesAndInhibitsOnAlarmAndOrTripDataGrid @ref="longTermOverridesAndInhibitsOnAlarmAndOrTripDataGrid" LoadData=@(args => LoadLongTermOverridesAndInhibitsOnAlarmAndOrTripDataGridAsync(args))/>
                            </TabPane>
                            <TabPane Tab="Management Of Change (MOC) : Operating Change" Key="5">
                                <OperatingChangeDataGrid @ref="operatingChangeDataGrid" LoadData=@(args => LoadOperatingChangeDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[2] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            3. Daily Production
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=85 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[2])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="SK10 Production" Key="1">
                                <ProductionSK10DataGrid @ref="productionSK10DataGrid" LoadData=@(args => LoadProductionSK10DataGridAsync(args))/>
                            </TabPane>
                            <TabPane Tab="HIP Production" Key="2">
                                <ProductionHIPDataGrid @ref="productionHIPDataGrid" LoadData=@(args => LoadProductionHIPDataGridAsync(args))/>
                            </TabPane>
                            <TabPane Tab="FPSO Production" Key="3">
                                <ProductionFPSOHelangDataGrid @ref="productionFPSOHelangDataGrid" LoadData=@(args => LoadProductionFPSODataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[3] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            4. Major Equipment Status
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=75 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[3])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Major Equipment Status" Key="1">
                                <MajorEquipmentStatusDataGrid @ref="majorEquipmentStatusDataGrid" LoadData=@(args => LoadMajorEquipmentDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[4] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            5. Chemical Injection
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=75 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[4])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="CI Nalco, EC-1310A (3:7 = CI : Diesel)" Key="1">
                                <CINalcoDataGrid @ref="ciNalcoDataGrid" LoadData=@(args => LoadCINalcoDataGridAsync(args))/>
                            </TabPane>
	                        <TabPane Tab="Inowac SBN-810 Injection" Key="2">
                                <InowacInjectionDataGrid @ref="inowacInjectionDataGrid" LoadData=@(args => LoadInowacInjectionDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[5] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            6. Wellhead & Separation System
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=15 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[5])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Wellhead & Separation System" Key="1">
                                <WellHeadAndSeparationSystemDataGrid @ref="wellHeadAndSeparationSystemDataGrid" LoadData=@(args => LoadWellHeadAndSeparationSystemDataGridAsync(args))/>
                            </TabPane>
	                        <TabPane Tab="Well Stream Cooler" Key="2">
                                <WellStreamCoolerDataGrid @ref="wellStreamCoolerDataGrid" LoadData=@(args => LoadWellStreamCoolerDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[6] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            7. WellHead
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=50 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[6])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="HIP WellHead Parameter" Key="1">
                                <HIPWellHeadParameterDataGrid @ref="hipWellHeadParameterDataGrid" LoadData=@(args => LoadHIPWellHeadParameterDataGridAsync(args))/>
                            </TabPane>
	                        <TabPane Tab="LWP WellHead Parameter" Key="2">
                                <LWPWellHeadParameterDataGrid @ref="lwpWellHeadParameterDataGrid" LoadData=@(args => LoadLWPWellHeadParameterDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[7] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            8. Rolls Royce Gas Engine & Kawasaki Compression System
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=40 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[7])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Kawasaki Export Compressor" Key="1">
                                <KawasakiExportCompressorDataGrid @ref="kawasakiExportCompressorDataGrid" LoadData=@(args => LoadKawasakiExportCompressorDataGridAsync(args))/>
                            </TabPane>
	                        <TabPane Tab="Rolls Royce RB211 Engine" Key="2">
                                <RollsRoyceRB211EngineDataGrid @ref="rollsRoyceRB211EngineDataGrid" LoadData=@(args => LoadRollsRoyceRB211EngineDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[8] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            9. Glycol Regeneration System
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=10 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[8])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Glycol Pump" Key="1">
                                <GlycolPumpDataGrid @ref="glycolPumpDataGrid" LoadData=@(args => LoadGlycolPumpDataGridAsync(args))/>
                            </TabPane>
	                        <TabPane Tab="Glycol Train" Key="2">
                                <GlycolTrainDataGrid @ref="glycolTrainDataGrid" LoadData=@(args => LoadGlycolTrainDataGridAsync(args))/>
                            </TabPane>
	                        <TabPane Tab="Glycol Stock" Key="3">
                                <GlycolStockDataGrid @ref="glycolStockDataGrid" LoadData=@(args => LoadGlycolStockDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[9] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            10. Gas & Condensate Export Sampler & Export Line
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=90 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[9])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Gas & Condensate Export Sampler & Export Line" Key="1">
                                <GasAndCondensateExportSamplersAndExportLineDataGrid @ref="gasAndCondensateExportSamplersDataGrid" LoadData=@(args => LoadGasAndCondensateExportSamplersAndExportLineDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[10] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            11. Cooling Medium System
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=88 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[10])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Cooling Medium System" Key="1">
                                <CoolingMediumSystemDataGrid @ref="coolingMediumSystemDataGrid" LoadData=@(args => LoadCoolingMediumSystemDataGridAsync(args))/>
                            </TabPane>
	                        <TabPane Tab="Analysis Result" Key="2">
                                <AnalysisResultDataGrid @ref="analysisResultDataGrid" LoadData=@(args => LoadAnalysisResultDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[11] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            12. Power Generation & Distrubution
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=100 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[11])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Power Generation & Distrubution" Key="1">
                            <PowerGenerationAndDistributionManagementDataGrid @ref="powerGenerationAndDistributionManagementDataGrid" LoadData=@(args => LoadPowerGenerationAndDistributionManagementDataGridAsync(args))/>
                        </TabPane>
                    </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[12] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            13. Living Quarters, Utilities & Others
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=100 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[12])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Utilities" Key="1">
                                <UtilitiesDataGrid @ref="UtilitiesDataGrid" LoadData=@(args => LoadUtilitiesDataGridAsync(args))/>
                            </TabPane>
	                        <TabPane Tab="Water Tank" Key="2">
                                <WaterTankDataGrid @ref="waterTankDataGrid" LoadData=@(args => LoadWaterTankDataGridAsync(args))/>
                            </TabPane>
	                        <TabPane Tab="Nitrogen Generator" Key="3">
                                <NitrogenGeneratorDataGrid @ref="nitrogenGeneratorDataGrid" LoadData=@(args => LoadNitrogenGeneratorDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[13] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            14. Tilted Plate Separator V-3000 & Produced Water Treatment System
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=19 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[13])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Produced Water Treatment System" Key="1">
                                <ProducedWaterTreatmentSystemManagementDataGrid @ref="producedWaterTreatmentSystemManagementDataGrid" LoadData=@(args => LoadProducedWaterTreatmentSystemManagementDataGridAsync(args))/>
                            </TabPane>
	                        <TabPane Tab="De-oiler Injection" Key="2">
                                <DeOilerInjectionDataGrid @ref="deOilerInjectionDataGrid" LoadData=@(args => LoadDeOilerInjectionDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[14] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            15. Sand Disposal From TPS (V-3000) via Desander
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=20 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[14])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Sand Disposal From TPS (V-3000) via Desander" Key="1">
                                <SandDisposalDesanderDataGrid @ref="sandDisposalDesanderDataGrid" LoadData=@(args => LoadSandDisposalDesanderDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[15] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            16. DCS, FGS, ASD & Communication System
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=55 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[15])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="DCS, FGS, ASD & Communication System" Key="1">
                                <CommunicationSystemDataGrid @ref="communicationSystemDataGrid" LoadData=@(args => LoadCommunicationSystemDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[16] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            17. Layang Wellhead Platform (LWP) Activities
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=62 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[16])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Layang Wellhead Platform (LWP) Activities" Key="1">
                                <LWPActivityDataGrid @ref="lWPActivityDataGrid" LoadData=@(args => LoadLWPActivityDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[17] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            18. Vendor Activities
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=66 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[17])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Vendor Activities" Key="1">
                                <VendorActivitiesDataGrid @ref="vendorActivitiesDataGrid" LoadData=@(args => LoadVendorActivitiesDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[18] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            19. Logistic
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=10 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[18])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
                            <TabPane Tab="Logistic" Key="1">
                                <LogisticDataGrid @ref="logisticDataGrid" LoadData=@(args => LoadLogisticDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>
<div class="row py-1 px-1">
    <div class="col">  
        <RadzenCard>
            <RadzenPanel AllowCollapse="true" Collapsed="true" Expand=@(() => isRadzenPanelExpandedList[19] = true)>
                <HeaderTemplate>
                    <div class="col-5">
                        <h4 class="m-0 d-flex align-items-center title">
                            20. Maximo Work Order
                        </h4>
                    </div>
                    <GenericProgressBar StrokeWidth=15 Percentage=0 ShowInfo=false />
                </HeaderTemplate>
                <ChildContent>
                    @if (isRadzenPanelExpandedList[19])
                    {
                        <Tabs DefaultActiveKey="1" Animated>
	                        <TabPane Tab="Maximo Work Order" Key="1">
                                <MaximoWorkOrderDataGrid @ref="maximoWorkOrderDataGrid" LoadData=@(args => LoadMaximoWorkOrderDataGridAsync(args))/>
                            </TabPane>
                        </Tabs>
                    }
                </ChildContent>
                
            </RadzenPanel>
        </RadzenCard>
    </div>
</div>