@page "/dashboard"
@using BlazorDateRangePicker
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ProducedWaterTreatmentSystems
@using DataExtractorODataService.Affra.Service.DataExtractor.Domain.DataFiles
@using JXNippon.CentralizedDatabaseSystem.Models
@using JXNippon.CentralizedDatabaseSystem.Shared.OIMSummary
@using JXNippon.CentralizedDatabaseSystem.Shared.Logistic
@using JXNippon.CentralizedDatabaseSystem.Shared.Dashboard
@using JXNippon.CentralizedDatabaseSystem.Shared.MajorEquipment
@using JXNippon.CentralizedDatabaseSystem.Shared.CommunicationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.DailyProduction
@using JXNippon.CentralizedDatabaseSystem.Shared.RollsRoyceGasEngineAndKawasakiCompressionSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.Views
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHeadAndSeparationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHead
@using JXNippon.CentralizedDatabaseSystem.Shared.PowerGenerationAndDistributionManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.ProducedWaterTreatmentSystemManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.FileManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.LWPActivity
@using JXNippon.CentralizedDatabaseSystem.Shared.HealthSafetyAndEnvironment
@using JXNippon.CentralizedDatabaseSystem.Shared.ChemicalInjection
@using JXNippon.CentralizedDatabaseSystem.Shared.GlycolRegenerationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.GasAndCondensateExportSamplersAndExportLine
@using JXNippon.CentralizedDatabaseSystem.Shared.CoolingMediumSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.LivingQuartersUtilitiesAndOthers
@using JXNippon.CentralizedDatabaseSystem.Shared.SandDisposalDesander
@using JXNippon.CentralizedDatabaseSystem.Shared.VendorActivities
@using ViewODataService.Affra.Service.View.Domain.Views
@attribute [Authorize]
<PageTitle>Dashboard</PageTitle>
<div class="px-2">
    <div class="row">
        <div class="col-md-6 col-lg-3 col">
            <Space>
                <SpaceItem>
                    <span>Period:</span>
                </SpaceItem>
                <SpaceItem>
                    <RangePicker @ref=rangePicker TValue="DateTime?[]" Size="medium" OnChange=OnRangeSelectAsync AllowClear=false DisabledDate="date => date >= DateTime.Now" DefaultValue="@(new [] { startDate?.ToLocalTime().DateTime, endDate?.ToLocalTime().DateTime })">
                        <RenderExtraFooter>
                            <Space>
                                <SpaceItem>
                                    <Button @onclick=@(args => SetDateAsync(0))>Today</Button>
                                </SpaceItem>
                                <SpaceItem>
                                    <Button @onclick=@(args => SetDateAsync(-6))>Last 7 days</Button> 
                                </SpaceItem>
                                <SpaceItem>
                                    <Button @onclick=@(args => SetDateAsync(-29))>Last 30 days</Button> 
                                </SpaceItem>
                                <SpaceItem>
                                    <Button @onclick=@(args => SetDateAsync(-59))>Last 60 days</Button> 
                                </SpaceItem>
                            </Space>  
                        </RenderExtraFooter>
                    </RangePicker>
                </SpaceItem>
            </Space>       
        </div>
    </div>

    <ViewComponent @ref="viewComponent" View=@view StartDate="@startDate" EndDate="@endDate"/>
</div>
