@page "/deferment/{activeKey}"
@attribute [Authorize]
<PageTitle>Deferment</PageTitle>

<Tabs ActiveKey="@activeKey" DefaultActiveKey="@activeKey" @ref=tabs OnTabClick=OnActiveKeyChanged>
    <TabPane Key="dashboard">
        <TabTemplate>
            <span>Dashboard</span>
        </TabTemplate>
        <ChildContent>Dashboard</ChildContent>
    </TabPane>
    <TabPane Key="report">
        <TabTemplate>
            <span>Report</span>
        </TabTemplate>
        <ChildContent>Report</ChildContent>
    </TabPane>
</Tabs>
