@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="row py-4">
    <div class="col-3">
        <Card Size="small"><Statistic Title="Active Users" Value="112893" /></Card> 
    </div>
    <div class="col-3">
        <Card Size="small"><Statistic Title="Account Balance (CNY)" Value="112893" Precision="2"/></Card> 
    </div>
    <div class="col-3">
        <Card Size="small"><Statistic Title="Account Balance (CNY)" Value="112893" Precision="2"/></Card>    
    </div>
    <div class="col-3">
        <Card Size="small"><Progress Type="ProgressType.Circle" Percent=75 /></Card>    
    </div>
</div>
