@page "/more/{activeKey}"
@using JXNippon.CentralizedDatabaseSystem.Shared.TemplateManagement

@attribute [Authorize]

<PageTitle>More</PageTitle>

<Tabs ActiveKey="@activeKey" DefaultActiveKey="@activeKey" @ref=tabs OnTabClick=OnActiveKeyChanged>
    <TabPane Key="filemanagement">
        <TabTemplate>
            <span>File Management</span>
        </TabTemplate>
        <ChildContent><FileManagement></FileManagement></ChildContent>
    </TabPane>
    <TabPane Key="usermanagement">
        <TabTemplate>
            <span>User Management</span>
        </TabTemplate>
        <ChildContent>User Management</ChildContent>
    </TabPane>
    <TabPane Key="templatemanagement">
        <TabTemplate>
            <span>Template Management</span>
        </TabTemplate>
        <ChildContent><TemplateManagement/></ChildContent>
    </TabPane>
    <TabPane Key="viewdesigner">
        <TabTemplate>
            <span>View Designer</span>
        </TabTemplate>
        <ChildContent><ViewDesigner></ViewDesigner></ChildContent>
    </TabPane>
</Tabs>
