@page "/more/{activeKey}"

<PageTitle>Opertion</PageTitle>

<Tabs ActiveKey="@activeKey" DefaultActiveKey="@activeKey" @ref=tabs OnTabClick=OnActiveKeyChanged>
    <TabPane Key="filemanagement">
        <TabTemplate>
            <span>File Management</span>
        </TabTemplate>
        <ChildContent><FileManagement></FileManagement></ChildContent>
    </TabPane>
    <TabPane Key="viewdesigner">
        <TabTemplate>
            <span>View Designer</span>
        </TabTemplate>
        <ChildContent><ViewDesigner></ViewDesigner></ChildContent>
    </TabPane>
</Tabs>
