@page "/operationold/{activeKey}"
@using JXNippon.CentralizedDatabaseSystem.Shared.ManagementOfChange
@using JXNippon.CentralizedDatabaseSystem.Shared.OperationInstruction
@using JXNippon.CentralizedDatabaseSystem.Shared.Views

@attribute [Authorize(Policy = "RolePageOperation")]

<PageTitle>Operation</PageTitle>

<Tabs Class="px-4" ActiveKey="@activeKey" DefaultActiveKey="@activeKey" @ref=tabs OnTabClick=OnActiveKeyChanged>
    <TabPane Key="dashboard">
        <TabTemplate>
            <span>Dashboard</span>
        </TabTemplate>
        <ChildContent><ViewTab Page="Operation"></ViewTab></ChildContent>
    </TabPane>
    <TabPane Key="combineddailyreport">
        <TabTemplate>
            <span>Combined Daily Report</span>
        </TabTemplate>
        <ChildContent><CombinedDailyReport></CombinedDailyReport></ChildContent>
    </TabPane>
    <TabPane Key="managementofchange">
        <TabTemplate>
            <span>Management Of Change</span>
        </TabTemplate>
        <ChildContent><ManagementOfChange/></ChildContent>
    </TabPane>
    <TabPane Key="managementofchangesummary">
        <TabTemplate>
            <span>Management Of Change Summary</span>
        </TabTemplate>
        <ChildContent>Management Of Change Summary</ChildContent>
    </TabPane>
    <TabPane Key="operationinstruction">
        <TabTemplate>
            <span>Operation Instruction</span>
        </TabTemplate>
        <ChildContent><OperationInstruction /></ChildContent>
    </TabPane>
</Tabs>
