@page "/operation/{activeKey}"

<PageTitle>Operation</PageTitle>

<Tabs ActiveKey="@activeKey" DefaultActiveKey="@activeKey" @ref=tabs OnTabClick=OnActiveKeyChanged>
    <TabPane Key="dashboard">
        <TabTemplate>
            <span>Dashboard</span>
        </TabTemplate>
        <ChildContent><Dashboard></Dashboard></ChildContent>
    </TabPane>
    <TabPane Key="combineddailyreport">
        <TabTemplate>
            <span>Combined Daily Report</span>
        </TabTemplate>
        <ChildContent><CombinedDailyReport></CombinedDailyReport></ChildContent>
    </TabPane>
    <TabPane Key="managementofchange">
        <TabTemplate>
            <span>Management Of Change</span>
        </TabTemplate>
        <ChildContent>Management Of Change</ChildContent>
    </TabPane>
</Tabs>
