@page "/RollsRoyceGasEngineAndKawasakiCompressionSystem"
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.RollsRoyceGasEngineAndKawasakiCompressionSystems
@using JXNippon.CentralizedDatabaseSystem.Shared.RollsRoyceGasEngineAndKawasakiCompressionSystem

<PageTitle>Rolls Royce Gas Engine And Kawasaki Compression System</PageTitle>

<RadzenBreadCrumb>
    <ChildContent>
        <RadzenBreadCrumbItem Path="/" Text="Home" />
        <RadzenBreadCrumbItem Path="/RollsRoyceGasEngineAndKawasakiCompressionSystem" Text="Rolls Royce Gas Engine And Kawasaki Compression System" />
    </ChildContent>
</RadzenBreadCrumb>

<DateFilterPanel @ref="filterPanel" Change=@(args => OnChangeAsync(args))/>
    
<div class="row py-2">
    <div class="col">
        <RadzenButton Click="@ReloadAsync" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Light" Style="margin-bottom: 20px;" Visible="true" />
    </div>
</div>
    
<div class="title">Kawasaki Export Compressor</div>
<KawasakiExportCompressorDataGrid @ref="kawasakiExportCompressorDataGrid" LoadData=@(args => LoadDataAsync(args)) 
    ShowRefreshButton="false" PagerAlwaysVisible="true" ShowDateColumn="true"/>
<hr class="solid"><div class="title">Rolls Royce RB211 Engine</div>
<RollsRoyceRB211EngineDataGrid @ref="rollsRoyceRB211EngineDataGrid" LoadData=@(args => LoadDataAsync(args)) 
    ShowRefreshButton="false" PagerAlwaysVisible="true" ShowDateColumn="true"/>