@page "/ViewDesigner"
@using JXNippon.CentralizedDatabaseSystem.Shared.Views
@attribute [Authorize]
<PageTitle>View Designer</PageTitle>

<div class="px-3">
    <ViewComponentDesigner></ViewComponentDesigner>
</div>
