@page "/WellHead"
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.WellHeads
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHead

<PageTitle>WellHead</PageTitle>

<RadzenBreadCrumb>
    <ChildContent>
        <RadzenBreadCrumbItem Path="/" Text="Home" />
        <RadzenBreadCrumbItem Path="/WellHead" Text="WellHead" />
    </ChildContent>
</RadzenBreadCrumb>

<WellHeadFilterPanel @ref="filterPanel" Change=@(args => OnChangeAsync(args))/>
    
<div class="row py-2">
    <div class="col">
        <RadzenButton Click="@ReloadAsync" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Light" Style="margin-bottom: 20px;" Visible="true" />
    </div>
</div>
    
<div class="title">HIP WellHead Parameters</div>
<HIPWellHeadParameterDataGrid @ref="hipWellHeadParameterDataGrid" LoadData=@(args => LoadDataAsync(args)) 
    ShowRefreshButton="false" PagerAlwaysVisible="true" ShowDateColumn="true"/>

<hr class="solid"><div class="title">LWP WellHead Parameters</div>
<LWPWellHeadParameterDataGrid @ref="lwpWellHeadParameterDataGrid" LoadData=@(args => LoadDataAsync(args)) 
    ShowRefreshButton="false" PagerAlwaysVisible="true" ShowDateColumn="true"/>