@page "/wellallocation/{activeKey}"
@using JXNippon.CentralizedDatabaseSystem.Shared.Views

@attribute [Authorize(Policy = "RolePageWellAllocation")]

<PageTitle>Well Allocation</PageTitle>

<Tabs ActiveKey="@activeKey" DefaultActiveKey="@activeKey" @ref=tabs OnTabClick=OnActiveKeyChanged>
    <TabPane Key="dashboard">
        <TabTemplate>
            <span>Dashboard</span>
        </TabTemplate>
        <ChildContent><ViewTab Page="WellAllocation"></ViewTab></ChildContent>
    </TabPane>
    <TabPane Key="pereport">
        <TabTemplate>
            <span>PE Report</span>
        </TabTemplate>
        <ChildContent>PE Report</ChildContent>
    </TabPane>
</Tabs>
