<Layout Class="layout-view" Style="height: 80vh;">
    <Header>
        <div class="row">
            <div class="col-12 float-right align-items-center text-right mt-1">
                <Button Type="primary" Icon="@IconType.Outline.PlusCircle" Size="@("large")" Shape="@ButtonShape.Round" >
                    <ChildContent>
                        <span style="font-size: 18px; margin-left: 0px;">Add</span>
                    </ChildContent>
                </Button>
            </div>
        </div>       
    </Header>
    <Layout Style="height: 100%;">
        <Sider Width=200>
            <Menu DefaultSelectedKeys=@(new[] { "All" }) Style="height: 100%;" Mode=@MenuMode.Inline OnMenuItemClicked=OnMenuItemSelectAsync>
                <MenuItem Key="All"><span style="font-size: 16px; margin-left: 0px;">All</span></MenuItem>
                <MenuItem Key="New"><span style="font-size: 16px; margin-left: 0px;">New</span></MenuItem>
                <MenuItem Key="Pending"><span style="font-size: 16px; margin-left: 0px;">Pending</span></MenuItem>
                <MenuItem Key="Extension"><span style="font-size: 16px; margin-left: 0px;">Extension</span></MenuItem>
                <MenuItem Key="Completed"><span style="font-size: 16px; margin-left: 0px;">Completed</span></MenuItem>
            </Menu>
        </Sider>
        <Layout>
            @*<Content>
                <Row>
                    @{
                        foreach (var mohDetail in mohDetails)
                        {
                            <ManagementOfChangeDataList RecordCode=@mohDetail.RecordCode Description=@mohDetail.Description />
                        }
                    }
                </Row>
            </Content>*@
            <Content Style="overflow-y: auto; overflow-x:hidden; height:100%;">
                <ManagementOfChangeDataList @ref=managementOfChangeDataList></ManagementOfChangeDataList>
            </Content>
        </Layout>
    </Layout>
</Layout>
