@using JXNippon.CentralizedDatabaseSystem.Shared.Description
<div class="d-flex align-items-center justify-content-center gap-3">
    <GenericDescription Height="300px" ImageFile="@ImageFile.WorkInProgress" Description=@this.Message>
       <ChildContent>
            <Spin size="large" />
        </ChildContent>
    </GenericDescription>
</div>