@using JXNippon.CentralizedDatabaseSystem.Shared.Notifications
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <NotificationMenu/>
        <RadzenProfileMenu>
            <Template>
                <Avatar Style="vertical-align: middle;"  Size="large">
                    @context.User.Identity?.Name[0]
                </Avatar>
            </Template>
            <ChildContent>
                <Menu Mode=MenuMode.Vertical>
                    <MenuItem Key="Settings">
                        <a href="#"><i class="top-row-icon fas fa-user-gear fa-fw fa-xl"></i><span class="toprow-nav-title d-none d-lg-inline">Settings</span></a>
                    </MenuItem>
                    <MenuItem Key="Logout">
                        <a @onclick="BeginLogout"><i class="top-row-icon fas fa-sign-out fa-fw fa-xl"></i><span class="toprow-nav-title d-none d-lg-inline">Logout</span></a>
                    </MenuItem>
                </Menu>
            </ChildContent>
        </RadzenProfileMenu>
    </Authorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
