@inherits LayoutComponentBase
<RadzenNotification />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <h3 class="col-9 status-standby text-start"><i class="oi oi-aperture"></i> Centralized Database System</h3>
            
            <div class="col-3 text-end">
                <LoginDisplay  />
            </div>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
