@inherits LayoutComponentBase
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />
<RadzenDialog />
<div class="page">
    @*<div class="sidebar @NavMenuCssClass">
        <NavMenu />
    </div>*@

    <main>
        <nav class="navbar navbar-light auth sticky-top" style="height: 4.5rem;">
          <div class="container-fluid top-navbar" style="height: 4rem;">
            <div class="d-flex justify-content-left">
                <div class="navbar-brand align-self-center toprow-title">
                    Centralized Database System
                </div>
                <TopMenu />
            </div>
            <div class="d-flex justify-content-right">
                <RadzenProfileMenu>
                    <Template>
                            <Avatar Icon="user" Size="large">
                            </Avatar>
                    </Template>
                    <ChildContent>
                        <RadzenProfileMenuItem Text="Settings" Path="buttons" Icon="build"></RadzenProfileMenuItem>
                        <RadzenProfileMenuItem Text="Logout" Path="menu" Icon="lock"></RadzenProfileMenuItem>
                    </ChildContent>
                </RadzenProfileMenu>
                @*<LoginDisplay  />*@
            </div>
          </div>
        </nav>
        <div class="container container-fluid">
            @Body
        </div>
    </main>
</div>
@code {
    [CascadingParameter] private AppState AppState { get; set; }

    private string? NavMenuCssClass => AppState.CollapseNavMenu ? "collapseSideBar" : "expandSideBar";
}
