@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits LayoutComponentBase

<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />
<RadzenDialog />
<div class="page">
    <main>
        <nav class="navbar navbar-light auth sticky-top" style="height: 5.0rem;">
            <div class="container-fluid top-navbar" style="height: 5.0rem;">
                <div class="d-flex justify-content-left">
                    <div class="d-none d-md-block"><TopMenu /></div>                 
                </div>
                <div class="d-flex justify-content-right">
                    <LoginDisplay  />
                </div>
            </div>
        </nav>
        <div class="container container-fluid">
            @Body
        </div>
    </main>
</div>
