@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits LayoutComponentBase

<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />
<RadzenDialog />
<div class="page">
    <Layout Style="max-width: 100vw;">
        <Header Class="top-menu-header sticky-top">
            <TopMenu />
        </Header>
        <Content>
            <div class="page-content">
                @Body
            </div>
        </Content>
    </Layout>
</div>
