
<Menu Mode=MenuMode.Horizontal>
    <MenuItem Key="Home">
         <a href="#"><Icon Type="home" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title d-none d-lg-inline">Home</span></a>
    </MenuItem>
    <SubMenu>
        <TitleTemplate><div><Icon Type="global" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title d-none d-lg-inline">Operation</span></div></TitleTemplate>
        <ChildContent>
            <MenuItemGroup Title="Operation">
                <MenuItem Key="OperationDashboard"><a href="operation/dashboard"><Icon Type="dashboard" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Dashboard</span></a></MenuItem>
                <MenuItem Key="OperationCombinedDailyReport"><a href="operation/combineddailyreport"><Icon Type="fund-view" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Combined Daily Report</span></a></MenuItem>
            </MenuItemGroup>
            <MenuItemGroup Title="Management Of Change">
                <MenuItem Key="OperationManagementOfChange"><a href="operation/managementofchange"><Icon Type="user-switch" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Management Of Change</span></a></MenuItem>
                <MenuItem Key="OperationManagementOfChangeSummary"><a href="operation/managementofchangesummary"><Icon Type="reconciliation" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Management Of Change Summary</span></a></MenuItem>
            </MenuItemGroup>
        </ChildContent>
    </SubMenu>
     <SubMenu>
        <TitleTemplate><div><Icon Type="cluster" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title d-none d-lg-inline">Well Allocation</span></div></TitleTemplate>
        <ChildContent>
            <MenuItem Key="WellAllocationDashboard"><a href="wellallocation/dashboard"><Icon Type="dashboard" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Dashboard</span></a></MenuItem>
            <MenuItem Key="WellAllocationPEReport"><a href="wellallocation/pereport"><Icon Type="fund-view" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">PE Report</span></a></MenuItem>
        </ChildContent>
    </SubMenu>
    <SubMenu>
        <TitleTemplate><div><Icon Type="hourglass" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title d-none d-lg-inline">Deferment</span></div></TitleTemplate>
        <ChildContent>
            <MenuItem Key="DefermentDashboard"><a href="deferment/dashboard"><Icon Type="dashboard" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Dashboard</span></a></MenuItem>
            <MenuItem Key="DefermentReport"><a href="deferment/report"><Icon Type="fund-view" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Deferment Report</span></a></MenuItem>
        </ChildContent>
    </SubMenu>
    <SubMenu>
        <TitleTemplate><div><Icon Type="appstore" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title d-none d-lg-inline">More</span></div></TitleTemplate>
        <ChildContent>
            <MenuItemGroup Title="Management">
                <MenuItem Key="FileManagement"><a href="more/filemanagement"><Icon Type="file-sync" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">File Management</span></a></MenuItem>
                <MenuItem Key="UserManagement"><a href="more/usermanagement"><Icon Type="user-switch" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">User Management</span></a></MenuItem>
                <MenuItem Key="TemplateManagement"><a href="more/templatemanagement"><Icon Type="experiment" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Template Management</span></a></MenuItem>
            </MenuItemGroup>
            <MenuItemGroup Title="Tool">
               <MenuItem Key="ViewDesigner"><a href="more/viewdesigner"><Icon Type="dot-chart" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">View Designer</span></a></MenuItem>            
            </MenuItemGroup>
        </ChildContent>
    </SubMenu>
</Menu>