@using JXNippon.CentralizedDatabaseSystem.Domain.DataSources
@using JXNippon.CentralizedDatabaseSystem.Shared.Notifications
@using JXNippon.CentralizedDatabaseSystem.Shared.Views
@inject IGlobalDataSource GlobalDataSource

<Menu @ref=menu Mode=MenuMode.Horizontal DefaultSelectedKeys="@(new string[] { "Home" })" Class="top-menu">
    <MenuItem Key="Home" RouterLink="#" RouterMatch="NavLinkMatch.Prefix">
         <a href="#"><Icon Type="home" Theme="@GetTheme("Home")"  Class="top-row-icon"/><span class="toprow-nav-title d-none d-lg-inline">Home</span></a>
    </MenuItem>
        <AuthorizeView Policy="Operation.Read">
            <Authorized>
                <SubMenu Key="Operation" Class="d-none d-md-inline-block">
                    <TitleTemplate><div><Icon Type="global" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title d-none d-lg-inline">Operation</span></div></TitleTemplate>
                    <ChildContent>
                        <MenuItemGroup Title="Operation">
                            <MenuItem RouterLink="operation/dashboard" RouterMatch="NavLinkMatch.Prefix" Key="OperationDashboard"><a href="operation/dashboard"><Icon Type="dashboard" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Dashboard</span></a></MenuItem>
                            <MenuItem RouterLink="operation/combineddailyreport" RouterMatch="NavLinkMatch.Prefix" Key="OperationCombinedDailyReport"><a href="operation/combineddailyreport"><Icon Type="fund-view" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Combined Daily Report</span></a></MenuItem>
                            <MenuItem RouterLink="operation/combineddailyreportsection" RouterMatch="NavLinkMatch.Prefix" Key="OperationCombinedDailyReportSection"><a href="operation/combineddailyreportsection"><Icon Type="build" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Combined Daily Report Sections</span></a></MenuItem>
                        </MenuItemGroup>
                        <MenuItemGroup Title="Management Of Change">
                            <MenuItem RouterLink="operation/managementofchange" RouterMatch="NavLinkMatch.Prefix" Key="OperationManagementOfChange"><a href="operation/managementofchange"><Icon Type="user-switch" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Management Of Change</span></a></MenuItem>
                            <MenuItem RouterLink="operation/managementofchangesummary" RouterMatch="NavLinkMatch.Prefix" Key="OperationManagementOfChangeSummary"><a href="operation/managementofchangesummary"><Icon Type="reconciliation" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Management Of Change Summary</span></a></MenuItem>
                            <MenuItem RouterLink="operation/operationinstruction" RouterMatch="NavLinkMatch.Prefix" Key="OperationOperationInstruction"><a href="operation/operationinstruction"><Icon Type="diff" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Operation Instruction</span></a></MenuItem>
                        </MenuItemGroup>
                    </ChildContent>
                </SubMenu>
             </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="WellAllocation.Read">
            <Authorized>
                 <SubMenu Key="WellAllocation" Class="d-none d-md-inline-block">
                    <TitleTemplate><div><Icon Type="cluster" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title d-none d-lg-inline">Well Allocation</span></div></TitleTemplate>
                    <ChildContent>
                        <MenuItem RouterLink="wellallocation/dashboard" RouterMatch="NavLinkMatch.Prefix" Key="WellAllocationDashboard"><a href="wellallocation/dashboard"><Icon Type="dashboard" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Dashboard</span></a></MenuItem>
                        <MenuItem RouterLink="wellallocation/pereport" RouterMatch="NavLinkMatch.Prefix" Key="WellAllocationPEReport"><a href="wellallocation/pereport"><Icon Type="fund-view" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">PE Report</span></a></MenuItem>
                        <MenuItem RouterLink="wellallocation/wellcoefficient" RouterMatch="NavLinkMatch.Prefix" Key="WellAllocationWellCoefficient"><a href="wellallocation/wellcoefficient"><Icon Type="fund-view" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Well Coefficient</span></a></MenuItem>
                    </ChildContent>
                </SubMenu>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="Deferment.Read">
            <Authorized>
                <SubMenu Key="Deferment" Class="d-none d-md-inline-block">
                    <TitleTemplate><div><Icon Type="hourglass" Theme="@GetTheme("Deferment")" Class="top-row-icon"/><span class="toprow-nav-title d-none d-lg-inline">Deferment</span></div></TitleTemplate>
                    <ChildContent>
                        <MenuItem RouterLink="deferment/dashboard" RouterMatch="NavLinkMatch.Prefix" Key="DefermentDashboard"><a href="deferment/dashboard"><Icon Type="dashboard" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Dashboard</span></a></MenuItem>
                        <MenuItem RouterLink="deferment/report" RouterMatch="NavLinkMatch.Prefix" Key="DefermentReport"><a href="deferment/report"><Icon Type="fund-view" Theme="outline" Class="top-row-icon" /><span class="toprow-nav-title">Deferment Report</span></a></MenuItem>
                    <MenuItem RouterLink="deferment/defermentdetail" RouterMatch="NavLinkMatch.Prefix" Key="DefermentDetail"><a href="deferment/defermentdetail"><Icon Type="diff" Theme="outline" Class="top-row-icon" /><span class="toprow-nav-title">Deferment Detail</span></a></MenuItem>
                    </ChildContent>
                </SubMenu>
            </Authorized>
    </AuthorizeView>
    <AuthorizeView Policy="Administration.Read">
        <Authorized>
           <SubMenu Key="More" Class="d-none d-md-inline-block">
                <TitleTemplate><div><Icon Type="appstore" Theme="@GetTheme("More")" Class="top-row-icon"/><span class="toprow-nav-title d-none d-lg-inline">More</span></div></TitleTemplate>
                <ChildContent>
                    <MenuItemGroup Title="Management">
                        <MenuItem RouterLink="more/filemanagement" RouterMatch="NavLinkMatch.Prefix" Key="MoreFileManagement"><a href="more/filemanagement"><Icon Type="file-sync" Theme="outline" Class="top-row-icon" /><span class="toprow-nav-title">File Management</span></a></MenuItem>
                        <MenuItem RouterLink="more/scemanagement" RouterMatch="NavLinkMatch.Prefix" Key="MoreSCEManagement"><a href="more/scemanagement"><Icon Type="hdd" Theme="outline" Class="top-row-icon" /><span class="toprow-nav-title">SCE Management</span></a></MenuItem>
                        <MenuItem RouterLink="more/rolemanagement" RouterMatch="NavLinkMatch.Prefix" Key="MoreRoleManagement"><a href="more/rolemanagement"><Icon Type="idcard" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Role Management</span></a></MenuItem>
                        <MenuItem RouterLink="more/usermanagement" RouterMatch="NavLinkMatch.Prefix" Key="MoreUserManagement"><a href="more/usermanagement"><Icon Type="user-switch" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">User Management</span></a></MenuItem>
                        <MenuItem RouterLink="more/templatemanagement" RouterMatch="NavLinkMatch.Prefix" Key="MoreTemplateManagement"><a href="more/templatemanagement"><Icon Type="experiment" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">Template Management</span></a></MenuItem>
                    </MenuItemGroup>
                    <MenuItemGroup Title="Tool">
                       <MenuItem RouterLink="more/viewdesigner" RouterMatch="NavLinkMatch.Prefix" Key="MoreViewDesigner"><a href="more/viewdesigner"><Icon Type="dot-chart" Theme="outline" Class="top-row-icon"/><span class="toprow-nav-title">View Designer</span></a></MenuItem>            
                    </MenuItemGroup>
                </ChildContent>
            </SubMenu>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView>
        <Authorized>
            <div style="position: absolute; top: 0; right: 0;">
                 <SingleDateRangeFilterComponent IsGlobal Class="px-2"  @ref=@GlobalDataSource.GlobalDateFilter></SingleDateRangeFilterComponent>
                 <LoginDisplay @ref=GlobalDataSource.LoginDisplay/>
            </div> 
        </Authorized>
    </AuthorizeView>
</Menu>

@code
{
    private Menu menu;

    private string GetTheme(string key)
    {
        return menu.SelectedKeys.Any(x => x.Contains(key))
            ? "fill"
            : "outline";
    }
}