@typeparam TItem

@if (isEditing)
{
     <td colspan="1">
        <div class="d-flex justify-content-center">
            <RadzenNumeric @bind-Value=@this.Value TValue="decimal?" Change="StopEdit" ShowUpDown="false" MouseLeave="MouseLeave"></RadzenNumeric>
        </div>
     </td>
}
else
{
    <td class="text-right" style="cursor:pointer; min-height: 30px; padding-right: 5px; @this.GetStyle()" colspan="1" @onclick="StartEdit">
        <div>
            @if (this.Value != null)
            {
                @Math.Round((decimal)this.Value, 2);
            }
        </div>
    </td>
    
}
     