@using AntDesign;
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.Deferments

<Layout Class="layout-view">
    <Sider Width=200>
        <Layout Style="height: 100%;">
            <Header>
                <div class="row">
                    <div class="col-6">
                        <span>Status</span>
                    </div>
                </div>
            </Header>
            <Content style="overflow-y: auto; max-height: 100%;">
                <Menu DefaultSelectedKeys=@(new[] { "All" }) @ref=@menu Style="height: 100%;" Mode=@MenuMode.Inline OnMenuItemClicked=OnMenuItemSelectAsync>
                    <MenuItem Key="All"><span style="font-size: 16px; margin-left: 0px;">All</span></MenuItem>
                    @{
                        foreach(var defermentStatus in defermentDetailStatusList){
                            <MenuItem Key="@defermentStatus"><span style="font-size: 16px; margin-left: 0px;">@defermentStatus</span></MenuItem>
                        }
                    }
                </Menu>
            </Content>
        </Layout>
    </Sider>
    <Layout Style="height:100%;">
        <Header Style="border-left: 1px solid #dbe0ea">
            <div class="row">
                <div class="col-6">
                    <span>Details</span>
                </div>    
                <div class="col-6 float-right align-items-center text-right mt-1">
                    <Button Type="primary" Size="@("large")" Shape="@ButtonShape.Round" OnClick=AddDialogAsync >
                       <ChildContent>
                           <Icon Type="plus-circle" Theme="outline" Class="anticon-big"/><span style="font-size: 18px; margin-left: 10px;">Add</span>
                       </ChildContent>
                    </Button>
                </div>
             </div>       
        </Header>
        <Content Style="height:100%;">
            <DefermentDetailGrid @ref=defermentDetailGrid />
        </Content>
    </Layout>
</Layout>

@code {
    private Task AddDialogAsync()
    {
        return this.defermentDetailGrid.ShowDialogAsync(
                                new DefermentDetail() { StartDateUI = DateTime.Now, EndDateUI = DateTime.Now },
                                0,
                                "Add");
    }
}