@using AntDesign;
@using JXNippon.CentralizedDatabaseSystem.Shared.Description
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.Deferments
@using System.Text.Json
@typeparam TItem

<div class="row h-100">
    <div class="col h-100">
        
    </div>
</div>
