@using Affra.Core.Domain.Services
@using JXNippon.CentralizedDatabaseSystem.Domain.DataSources
@using JXNippon.CentralizedDatabaseSystem.Domain.Notifications
@using NotificationODataService.Affra.Service.Notification.Domain.PersonalMessages
@inject IGlobalDataSource GlobalDataSource;

<div class="align-self-center flex-row order-md-first">
    <div class="nav-item dropdown me-3">
        <a>
            <Badge Count=@GlobalDataSource.UnreadCount OverflowCount=99>
                <a @onclick="_=>Open()"><Icon Type="bell" Theme="outline" Class="top-row-alert"/></a>
            </Badge>
        </a>
    </div>
</div>


<Drawer @ref=drawer WrapClassName="personal-message-drawer h-100 fixed-drawer" Closable="false" Visible="visible" Placement="right" OnClose="CloseAsync">
    <div @onclick=this.CloseAsync>
        <Title><h4 style="font-weight: bold;"><Icon Type="bell" Theme="outline" Class="top-row-alert"/> Personal Message</h4>              
        </Title>
    </div>
    <PersonalMessageTab @ref=personalMessageTab></PersonalMessageTab>
</Drawer>