<AntList DataSource="@data" TItem="BasicItem" Class="px-3">
    <ListItem OnClick="()=>ItemClick(context.Title)">
        <ListItemMeta AvatarTemplate="avatar" Description="@context.Detail">
            <TitleTemplate>
                <a href="#">@context.Title</a>
            </TitleTemplate>
        </ListItemMeta>
    </ListItem>
</AntList>

@code{

    RenderFragment avatar = @<Avatar Icon="user" Size="large"></Avatar>;

    public class BasicItem
    {
        public string Title { get; set; }
        public string Detail { get; set; }
    }

    public List<BasicItem> data = new List<BasicItem>
    {
        new BasicItem { Title = "Management of change", Detail = "Approval required."},
        new BasicItem { Title = "Management of change", Detail = "Mangement of change extended."},
    };

    public void ItemClick(string title)
    {
        Console.WriteLine($"item was clicked: {title}");
    }
}