<div class="align-self-center flex-row order-md-first">
    <div class="d-none d-md-flex">
        <div class="nav-item dropdown d-none d-md-flex me-3">
            <a>
                <Badge Count=4 Dot>
                    <a @onclick="_=>open()"><Icon Type="bell" Theme="outline" Class="top-row-alert"/></a>
                </Badge>
            </a>
        </div>
    </div>
</div>

<Drawer Closable="true" Visible="visible" Placement="right" Title='("Personal Messages")' OnClose="_=>close()" Width=540>
    <PersonalMessageList></PersonalMessageList>
</Drawer>

@code{

    bool visible = false;

    void open()
    {
        this.visible = true;
    }

    void close()
    {
        this.visible = false;
    }
}