<Space>
    <SpaceItem>
        <span>Period:</span>
    </SpaceItem>
    <SpaceItem>
        <RangePicker @ref=rangePicker TValue="DateTime?[]" Size="medium" OnChange=OnRangeSelectAsync AllowClear=false DisabledDate="date => date >= DateTime.Now" DefaultValue="@(new [] { StartDate?.ToLocalTime(), EndDate?.ToLocalTime() })">
            <RenderExtraFooter>
                <Space>
                    <SpaceItem>
                        <Button @onclick=@(args => SetDateAsync(0))>Today</Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button @onclick=@(args => SetDateAsync(-6))>Last 7 days</Button> 
                    </SpaceItem>
                    <SpaceItem>
                        <Button @onclick=@(args => SetDateAsync(-29))>Last 30 days</Button> 
                    </SpaceItem>
                    <SpaceItem>
                        <Button @onclick=@(args => SetDateAsync(-59))>Last 60 days</Button> 
                    </SpaceItem>
                </Space>  
            </RenderExtraFooter>
        </RangePicker>
    </SpaceItem>
</Space>