@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.RollsRoyceGasEngineAndKawasakiCompressionSystems
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyKawasakiExportCompressor" TDialog="KawasakiExportCompressorDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="KawasakiExportCompressorName" Title="Name" Width="70px" />
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="SpeedControl" Width="75px">
                    <HeaderTemplate>
                        <div>Speed <br /> Control</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="Speed" Title="Speed" Width="75px" />
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="PressureSuct" Width="130px">
                    <HeaderTemplate>
                        <div>Pressure (bar) <br /> Suct (LP)</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="PressureDisc" Width="130px">
                    <HeaderTemplate>
                        <div>Pressure (bar) <br /> Disc (HP)</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="ThroughPut" Width="100px">
                    <HeaderTemplate>
                        <div>Throughput <br /> MMscfd</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="AfterCoolerDischLP" Width="130px">
                    <HeaderTemplate>
                        <div>After Cooler <br /> Disch LP</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="AfterCoolerDischHP" Width="130px">
                    <HeaderTemplate>
                        <div>After Cooler <br /> Disch MP</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="RecycleValueLP" Width="130px">
                    <HeaderTemplate>
                        <div>Recycle Value <br /> LP %</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="RecycleValueHP" Width="130px">
                    <HeaderTemplate>
                        <div>Recycle Value <br /> HP %</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="SurgeDeviationLP" Width="130px">
                    <HeaderTemplate>
                        <div>Surge Deviation <br /> LP %</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="SurgeDeviationHP" Width="130px">
                    <HeaderTemplate>
                        <div>Surge Deviation <br /> MP %</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="AxialDisp1" Width="110px">
                    <HeaderTemplate>
                        <div>Axial Disp. <br /> mm #1</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="DailyKawasakiExportCompressor" Property="AxialDisp2" Width="110px">
                    <HeaderTemplate>
                        <div>Axial Disp. <br /> mm #2</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>