@using JXNippon.CentralizedDatabaseSystem.Domain.Grids
@using ViewODataService.Affra.Service.View.Domain.Views

<div class="row">
    <div class="col">
        <RadzenDataGrid @ref="grid" Data="@items"
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" AllowFiltering="false" AllowPaging="false" 
            PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" TItem="GridColumn" 
            AllowColumnResize="true" ShowPagingSummary="true" CellContextMenu="@OnCellContextMenu"
            AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <EmptyTemplate>                
                <div class="row" @oncontextmenu=@(args => OnCellContextMenu(args)) @oncontextmenu:preventDefault="true">
                    <a>No records to display.</a>
                </div>                    
            </EmptyTemplate>
            <Template Context="gridColumn">
                <GridColumnStyleDataGrid GridColumn=gridColumn PagerAlwaysVisible>
                </GridColumnStyleDataGrid>
            </Template>
            <Columns>
                <RadzenDataGridColumn TItem="GridColumn" Property="Title" Title="Title">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="GridColumn" Property="Property" Title="Property">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="GridColumn" Property="FormatString" Title="Format String">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="GridColumn" Property="Sortable" Title="Sortable">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="GridColumn" Property="Filterable" Title="Filterable">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="GridColumn" Property="Type" Title="Type">
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>  
    </div>
</div>

@code
{
    private void OnCellContextMenu(MouseEventArgs args)
    {
        bool hasRowData = (args as DataGridCellMouseEventArgs<GridColumn>) != null;
        var arg = args as DataGridCellMouseEventArgs<GridColumn>;
        ContextMenuService.Open(args, ds =>
           @<RadzenMenu Click="@(e => OnMenuItemClickAsync(e, arg))">
                <RadzenMenuItem Text="Add ..." Value="0" Icon="note_add"/>
                <RadzenMenuItem Text="Add Multiple..." Value="4" Icon="list"/>
                <RadzenMenuItem Text="Edit ..." Value="1" Icon="description" Visible=@hasRowData/>
                <RadzenMenuItem Text="Delete ..." Value="2" Icon="delete" Visible=@hasRowData/>
                <RadzenMenuItem Text="View ..." Value="3" Icon="launch" Visible=@hasRowData/>
                <RadzenMenuItem Text="Move Up" Value="5" Icon="flight_takeoff" Visible=@hasRowData/>
                <RadzenMenuItem Text="Move Down" Value="6" Icon="flight_land" Visible=@hasRowData/>
                
    </RadzenMenu>
    ); 
    }

    private async Task OnMenuItemClickAsync(MenuItemEventArgs e, DataGridCellMouseEventArgs<GridColumn> args = null)
    {  
        int i = (int)e.Value;

        if (i == 0)
        {
            await ShowDialogAsync(
                new GridColumn(),
                i,
                "Add");
        }
        else if (i == 1)
        {
            await ShowDialogAsync(args.Data, i, "Edit");
        }
        else if (i == 2)
        {
            await ShowDialogAsync(args.Data, i, "Delete");
        }
        else if (i == 3)
        {
            await ShowDialogAsync(args.Data, i, "View");
        }
        else if (i == 4)
        {
            await ShowDialogAsync(new GridColumn(), i, "Add Properties");
        }
        else if (i == 5)
        {
            await this.MoveAsync(args.Data, -1);

        }
        else if (i == 6)
        {
            await this.MoveAsync(args.Data);
        }
    }

    private Task MoveAsync(GridColumn column, int offset = 0)
    {
        var list = items as List<GridColumn> ?? items.ToList();
        var index = list.FindIndex(x => x == column);
        list.Reverse(index + offset, 2);
        items = list;
        this.Grid.GridColumns = list;
        return this.grid.Reload(); 
    }
}