@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ProducedWaterTreatmentSystems
@using DataExtractorODataService.Affra.Service.DataExtractor.Domain.DataFiles
@using ViewODataService.Affra.Service.View.Domain.Views

<div class="px-2">
    @if (!hasFocus)
    {        
        @if (this.views?.Count() > 1)
        {
            <Tabs Class="py-2" Size="@TabSize.Small" OnTabClick=OnTabClickAsync DefaultActiveKey=@this.selectedTabKey>
                @foreach(var v in this.views)
                {
                    <TabPane Key="@v.Name">
                        <TabTemplate>
                            <span>@v.Name</span>
                        </TabTemplate>
                    </TabPane>
                }
            </Tabs>
        }
    }
    <ViewComponent @ref="viewComponent" View=@view ColorsGroups=@colorsGroups @bind-HasFocus=@this.hasFocus/>
</div>
