@using JXNippon.CentralizedDatabaseSystem.Domain.Charts
@using JXNippon.CentralizedDatabaseSystem.Domain.Grids
@using ViewODataService.Affra.Service.View.Domain.Views

<div class="row">
    <div class="col">
        <RadzenCard>
            <RadzenDropDown AllowClear="false" TValue="View" Class="w-100" 
                            Data=@views
                            @ref=radzenDropDown
                            @bind-Value=view
                            TextProperty="Name"
                            Change=@(args => OnChangeAsync(args)) 
                            Placeholder="Select view..."/>
        </RadzenCard>
        
    </div>
</div>

@if (false)
{
    <div class="title py-3">Rows</div>
    <div class="row py-1">
        <div class="col">
           <RowDataGrid View=@view @ref=rowDataGrid LoadData=@(args => LoadDataAsync(args))/>
        </div>
    </div>

    <hr class="solid"><div class="title">Columns</div>
    <div class="row py-2">
        <div class="col">
            <ColumnDataGrid View=@view @ref=columnDataGrid LoadData=@(args => LoadDataAsync(args))/>
        
        </div>
    </div>
}

<hr class="solid"><div class="title">Preview</div>
<div class="row py-2">
    <div class="col">
        <ViewComponent View=@view @ref=viewComponent IsDesignMode="true"/>
    </div>
</div>

@{
    var hasItem = radzenDropDown?.SelectedItem is not null
        && !string.IsNullOrEmpty(this.view?.Name);

    <div class="fixed-widgets">
        <Popover>
            <ContentTemplate>
                <Menu Mode=MenuMode.Vertical>                   
                    <MenuItem Key="AddView" Disabled=@(!hasItem)><a @onclick=AddViewAsync><i class="fas fa-plus fa-fw fa-xl"></i> Add View...</a></MenuItem>                 
                    <MenuItem Key="DeleteView" Disabled=@(!hasItem)><a @onclick=DeleteViewAsync><i class="fas fa-eraser fa-fw fa-xl"></i> Delete View...</a></MenuItem>
                    <MenuDivider />
                    <MenuItem Key="AddRow" Disabled=@(!hasItem)><a @onclick=AddRowAsync><i class="fas fa-diagram-next fa-fw fa-xl"></i> Add Row</a></MenuItem>
                    <MenuDivider />
                    <MenuItem Key="AddChart" Disabled=@(!hasItem)><a @onclick=@(args => ShowDialogAsync(
                    new Column()
                    {
                        ComponentType = nameof(Chart),
                    },
                    "Add"))><i class="fas fa-chart-line fa-fw fa-xl"></i> Add Chart...</a></MenuItem>
                    <MenuItem Key="AddTable" @onclick=@(args => ShowDialogAsync(
                    new Column()
                    {
                        ComponentType = nameof(Grid),
                    },
                    "Add")) Disabled=@(!hasItem)><a><i class="fas fa-table fa-fw fa-xl"></i> Add Table...</a></MenuItem>
                    <MenuDivider />
                    <MenuDivider />
                    <MenuItem Key="Export" Disabled=@(!hasItem)><a @onclick=ExportAsync><i class="fas fa-download fa-fw fa-xl"></i> Export</a></MenuItem>
                    <MenuItem Key="Import">
                        <Upload>
                            <label><InputFile id="fileInput" OnChange="ImportAsync" hidden/><i class="fas fa-upload fa-fw fa-xl"></i> Import...</label>
                        </Upload>           
                    </MenuItem>
                </Menu>
            </ContentTemplate>
            <ChildContent> 
                <Avatar Size="large" Class="fixed-widgets-avatar"><Content><i class="fa-solid fa-wand-magic-sparkles"></i></Content></Avatar>
            </ChildContent>
        </Popover>
    </div>
}
