@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ProducedWaterTreatmentSystems
@using DataExtractorODataService.Affra.Service.DataExtractor.Domain.DataFiles
@using ViewODataService.Affra.Service.View.Domain.Views

<div class="px-5">
    <ViewComponent @ref="viewComponent" View=@view @bind-HasFocus=@this.hasFocus />
</div>
